 figure
 {
    max-width: 650px;
    margin: 0 auto;
    margin-left: 0 auto;
    margin-right: 0 auto;
 }
 figure img
 {
    width: 100%;
 }
 header, main, footer
 {
   width: 90%;
   margin: 0 auto;
   margin-left: 0 auto;
   margin-right: 0 auto;
 }
 #tetlist
 {
   display: flex;
   flex-flow: row wrap;
 }
 div.tet
 {
   flex: 1 0 450px;
 }